<ul id="side-menu">
  
  <li><a href="#auth">Auth</a>
    
    <ul>
      <li><a href="#accountrecoveryreq">Recover Account</a></li>
      <li><a href="#accountrecoveryreq">Recover Account</a></li>
      <li><a href="#accountrecoveryreset">Reset Account Password</a></li>
      <li><a href="#accountrecoverytoken">Validate Account Reset Token</a></li>
      <li><a href="#authenticate_user">Authenticate User</a></li>
      <li><a href="#confirm_account">Confirm Account</a></li>
      <li><a href="#email_availability">Email Availability</a></li>
      <li><a href="#invitationregister">Register (via invitation)</a></li>
      <li><a href="#login">Login</a></li>
      <li><a href="#logout">Logout</a></li>
      <li><a href="#registernoverify">Register (w/o account verification)</a></li>
      <li><a href="#registerverify">Register (w/ account verification)</a></li>
      <li><a href="#username_availability">Username Availability</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#bans">Bans</a>
    
    <ul>
      <li><a href="#banaddressesadmin">(Admin) Add Ban Addresses</a></li>
      <li><a href="#banfromboardsadmin">(Admin) Ban From Boards</a></li>
      <li><a href="#banusersadmin">(Admin) Ban</a></li>
      <li><a href="#deletebannedaddressadmin">(Admin) Delete Ban Address</a></li>
      <li><a href="#editbannedaddressadmin">(Admin) Edit Ban Address</a></li>
      <li><a href="#getbannedboardsadmin">(Admin) Get User&#39;s Banned Boards</a></li>
      <li><a href="#pagebannedaddressesadmin">(Admin) Page by Banned Addresses</a></li>
      <li><a href="#pagebybannedboardsadmin">(Admin) Page by Banned Boards</a></li>
      <li><a href="#unbanfromboardsadmin">(Admin) Unban From Boards</a></li>
      <li><a href="#unbanusersadmin">(Admin) Unban</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#boards">Boards</a>
    
    <ul>
      <li><a href="#allboard">All Boards</a></li>
      <li><a href="#createboard">Create</a></li>
      <li><a href="#deleteboard">Delete</a></li>
      <li><a href="#findboard">Find</a></li>
      <li><a href="#moveboard">Move Boards</a></li>
      <li><a href="#updateboard">Update</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#breadcrumbs">Breadcrumbs</a>
    
    <ul>
      <li><a href="#findbreadcrumbs">Find</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#categories">Categories</a>
    
    <ul>
      <li><a href="#admincategoriesunfiltered">All Categories (Includes Private)</a></li>
      <li><a href="#allcategories">All Categories (Filters Private)</a></li>
      <li><a href="#updatecategories">Update Categories</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#conversations">Conversations</a>
    
    <ul>
      <li><a href="#createconversation">Create</a></li>
      <li><a href="#deleteconversation">Delete</a></li>
      <li><a href="#getrecentmessages">Messages in Conversation</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#legal">Legal</a>
    
    <ul>
      <li><a href="#legaltext">(Admin) Text</a></li>
      <li><a href="#resetlegal">(Admin) Reset Legal Text</a></li>
      <li><a href="#updatelegal">(Admin) Update</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#messages">Messages</a>
    
    <ul>
      <li><a href="#createmessage">Create</a></li>
      <li><a href="#deletemessage">Delete</a></li>
      <li><a href="#findusermessages">Get ID for username</a></li>
      <li><a href="#latestmessages">Get Recent Messages</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#moderators">Moderators</a>
    
    <ul>
      <li><a href="#addmoderator">Add Moderator</a></li>
      <li><a href="#removemoderator">Remove Moderator</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#notifications">Notifications</a>
    
    <ul>
      <li><a href="#countnotifications">Get Notifications counts</a></li>
      <li><a href="#dismissnotification">Dismiss</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#portal">Portal</a>
    
    <ul>
      <li><a href="#viewportal">Portal Contents</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#posts">Posts</a>
    
    <ul>
      <li><a href="#createpost">Create</a></li>
      <li><a href="#deletepost">Delete</a></li>
      <li><a href="#findpost">Find</a></li>
      <li><a href="#lockpost">Lock</a></li>
      <li><a href="#pagepostsbythread">Page By Thread</a></li>
      <li><a href="#pagepostsbythread">Page By Thread</a></li>
      <li><a href="#pagepostsbyuser">Page By User</a></li>
      <li><a href="#purgepost">Purge</a></li>
      <li><a href="#undeletepost">Undelete</a></li>
      <li><a href="#unlockpost">Unlock</a></li>
      <li><a href="#updatepost">Update</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#reports">Reports</a>
    
    <ul>
      <li><a href="#createmessagereport">Create Message Report</a></li>
      <li><a href="#createmessagereportnote">(Admin) Create Message Report Note</a></li>
      <li><a href="#createpostreport">Create Post Report</a></li>
      <li><a href="#createpostreportnote">(Admin) Create Post Report Note</a></li>
      <li><a href="#createuserreport">Create User Report</a></li>
      <li><a href="#createuserreportnote">(Admin) Create User Report Note</a></li>
      <li><a href="#pagemessagereport">(Admin) Page Message Report</a></li>
      <li><a href="#pagemessagereportnotes">(Admin) Page Message Report Notes</a></li>
      <li><a href="#pagepostreport">(Admin) Page Post Report</a></li>
      <li><a href="#pagepostreportnotes">(Admin) Page Post Report Notes</a></li>
      <li><a href="#pageuserreport">(Admin) Page User Report</a></li>
      <li><a href="#pageuserreportnotes">(Admin) Page User Report Notes</a></li>
      <li><a href="#updatemessagereport">(Admin) Update Message Report</a></li>
      <li><a href="#updatemessagereportnote">(Admin) Update Message Report Note</a></li>
      <li><a href="#updatepostreport">(Admin) Update Post Report</a></li>
      <li><a href="#updatepostreportnote">(Admin) Update Post Report Note</a></li>
      <li><a href="#updateuserreport">(Admin) Update User Report</a></li>
      <li><a href="#updateuserreportnote">(Admin) Update User Report Note</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#roles">Roles</a>
    
    <ul>
      <li><a href="#addroles">Add Roles</a></li>
      <li><a href="#allroles">All Roles</a></li>
      <li><a href="#pageuserwithrole">Page Users with Role</a></li>
      <li><a href="#removeroles">Remove Roles</a></li>
      <li><a href="#reprioritizeroles">Reprioritize Roles</a></li>
      <li><a href="#updateroles">Add Roles</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#settings">Settings</a>
    
    <ul>
      <li><a href="#addtoblacklist">(Admin) Add IP Rule to Blacklist</a></li>
      <li><a href="#deleteblacklist">(Admin) Delete existing IP Rule from Blacklist</a></li>
      <li><a href="#findsettings">(Admin) Find</a></li>
      <li><a href="#getblacklist">(Admin) Get Blacklist</a></li>
      <li><a href="#gettheme">(Admin) Get Theme</a></li>
      <li><a href="#previewtheme">(Admin) Preview Theme</a></li>
      <li><a href="#resettheme">(Admin) Reset Theme</a></li>
      <li><a href="#settheme">(Admin) Set Theme</a></li>
      <li><a href="#updateblacklist">(Admin) Update existing IP Rule in Blacklist</a></li>
      <li><a href="#updatesettings">(Admin) Update</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#threads">Threads</a>
    
    <ul>
      <li><a href="#createpoll">Create Poll</a></li>
      <li><a href="#createthread">Create</a></li>
      <li><a href="#editpoll">Edit Poll</a></li>
      <li><a href="#findthread">Find</a></li>
      <li><a href="#lockpoll">Lock Poll</a></li>
      <li><a href="#lockthread">Lock</a></li>
      <li><a href="#movethread">Move</a></li>
      <li><a href="#pagethreadsbyboard">Page By Board</a></li>
      <li><a href="#pagethreadsbyboard">Page By Board</a></li>
      <li><a href="#purgethread">Purge</a></li>
      <li><a href="#recentlypostedinthreads">Page Recently Posted In Threads</a></li>
      <li><a href="#removevotepoll">Remove Vote</a></li>
      <li><a href="#stickythread">Sticky</a></li>
      <li><a href="#updatethreadtitle">Title</a></li>
      <li><a href="#votepoll">Vote</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#users">Users</a>
    
    <ul>
      <li><a href="#adduserroleadmin">(Admin) Add Roles</a></li>
      <li><a href="#countusersadmin">(Admin) Count Users</a></li>
      <li><a href="#deactivateuser">Deactivate</a></li>
      <li><a href="#deleteuser">Delete</a></li>
      <li><a href="#finduser">Find</a></li>
      <li><a href="#finduser">Find</a></li>
      <li><a href="#invitations">Invitations</a></li>
      <li><a href="#invite">Invite</a></li>
      <li><a href="#pageusersadmin">(Admin) Page Users</a></li>
      <li><a href="#pageuserspublic">(Admin) Page Users</a></li>
      <li><a href="#pageuserspublic">(Admin) Page Users</a></li>
      <li><a href="#reactivateuser">Reactivate</a></li>
      <li><a href="#removeinvite">Remove Invite</a></li>
      <li><a href="#removeuserroleadmin">(Admin) Remove Roles</a></li>
      <li><a href="#resend_invitation">Resend</a></li>
      <li><a href="#searchusernamesadmin">(Admin) Search Usernames</a></li>
      <li><a href="#updateuser">Update</a></li>
      <li><a href="#userpreferences">Preferences</a></li>
      
    </ul>
    
  </li>
  
  <li><a href="#watchlist">Watchlist</a>
    
    <ul>
      <li><a href="#editwatchlist">Edit Watchlist</a></li>
      <li><a href="#pagewatchlistthreads">Page Watchlist Threads</a></li>
      <li><a href="#pagewatchlistthreadsboards">Page Watchlist Boards</a></li>
      <li><a href="#pagewatchlistunread">Page Watchlist Unread</a></li>
      <li><a href="#unwatchboard">Unwatch Board</a></li>
      <li><a href="#unwatchthread">Unwatch Thread</a></li>
      <li><a href="#watchboard">Watch Board</a></li>
      <li><a href="#watchthread">Watch Thread</a></li>
      
    </ul>
    
  </li>
  
</ul>
